@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

header {
  position: relative;
  background-color: #cbdcec;
  padding: 15px;
}

header h1 a, header h1 a:hover {
  transition: none;
  letter-spacing: 2px;
}

header h1 {
  font-family: 'Arvo', helvetica;
  align-self: flex-start;
  text-align: left;
}

header img {
  vertical-align: middle;
  width: 60px;
  margin-top: 15px;
}

header span {
  margin: 10px auto;
}

h1 {
  padding: 15px;
  font-size: 55px;
  margin-bottom: auto;
  margin-top: 45px;
}

nav {
  margin: auto;
  position: absolute;
  right: 0px;
  text-align: right;
  padding-top: 10px;
}

span {
  display: block;
  margin: 0px;
  margin-right: 10px;
  color: rgb(74, 86, 97);
  font-style: italic;
}

.h-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
}

nav a {
  color: black;
  margin: 10px 20px 0 0;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
}

@media all and (min-width: 600px) {
  .h-group {
      flex-direction: row;
      padding: 0 3%;
  }
  h1 {
      font-size: 55px;
      margin-top: 15px;
  }
  nav {
      padding-top: 5px;
      position: relative;
  }
  div.logged-in-nav {
    display: flex;
    align-content: center;
    margin-right: 25px;
  }
  header {
      margin-top: 0;
  }
}
