.error-banner {
  margin-bottom: 15px;
  width: 100%;
  background-color: rgb(255, 162, 162);
  padding: 10px;
  font-weight: bold;
  margin-top: -10px;
}

.error-banner button {
  margin-left: 25px;
}

@media all and (min-width:600px) {
  .error-banner {
    position: relative;
    top: auto;
  }
}
